:host {
  display: flex;
  flex-direction: column; /* empile verticalement */
  align-items: center; /* centre tout horizontalement */
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  font-style: italic;
}

h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.5rem;
  font-style: italic;
}

button {

background-color: red;
color: #fff;
border-radius: 5px;
font-style: italic;

}

form div {
  display: flex;
  flex-direction: column;
  font-style: italic;
}
